body {
    background-color: #ccc;
}

header {
    height: 250px;
    background-image: url("./imagens/diversity-teamwork-with-joined-hands-FRACL2W\ 1.png");
    background-repeat: no-repeat;
    background-size: 100%;        
}

header button {
    background-color: #E4E849;
}

header h1 {
    color: #E4E849;
    margin-top: 0px;    
}

header .enunciado {
    display: block;
    margin: 20px 20% 0px 20%;
}

header .imagem_voltar {
    display: flex;
    justify-content: space-between;
    padding: 36px 42px 0px;
}

header .enunciado .button_header{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;     
}

header .enunciado .button_header input{
    width: 90%;
    height: 40px;
}

header .enunciado .button_header button{
    height: 40px;
}

main {
    display: block;
}

main .container {
    width: 60%;
    max-width: 1400px;
    display:block;
    margin: -60px auto 0px;
    padding: 0px 0px 0px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main .block{
    position: relative;
    margin: 8px auto 8px;
    width: 80%;
}

main h2.primeiro_h2 {
    padding: 10px 0px 0px 100px;  
    margin-left: -55px; 
}

main hr{
margin: 0px;
}

main .block img{
    background-color: #E4E849 ;
    border-radius: 45px;
}

main .spy_titulos {
    display: flex; 
    justify-content: space-around;
    align-items: flex-start;
}

main .spy_titulos h3{
    margin: 0px;
        
}

main .spy_titulos h2{
    margin: 0px;
    
}

main .margin_img{
    margin-left: -50px;   

}

main .apelido_data{
    display: flex;
    justify-content: space-between;    
}

main .apelido{
    padding-right: 450px;
    margin: 0px;
}

main p{
    margin-left: -40px;
}

main .apelido2{
    padding-right: 380px;
    margin: 0px;

}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    width: 100%;
    max-width: 1400px;
    height: 125px;

}
